.ui-slider-tick-mark{
    display:inline-block;
    width:2px;
    background:black;
    height:23px;
    position:absolute;
    top:0;
}

.ui-slider-tick-mark:hover{
    display:inline-block;
    width:2px;
    background:red;
    height:23px;
    position:absolute;
    top:0;
}

#fabric-controls {
    list-style: none;
}