.ui-slider-tick-mark{
    display:inline-block;
    width:2px;
    background:black;
    height:23px;
    position:absolute;
    top:0;
}

.ui-slider-tick-mark:hover{
    display:inline-block;
    width:2px;
    background:red;
    height:23px;
    position:absolute;
    top:0;
}

#fabric-controls {
    list-style: none;
}

  #red, #green, #blue {
    float: left;
    clear: left;
    width: 100px;
    margin: 3px;
  }
  #swatch {
    width: 50px;
    height: 64px;
    background-image: none;
      position:absolute;
      right: 0;
      margin-right: 65px;
  }
  #red .ui-slider-range { background: #ef2929; }
  #red .ui-slider-handle { border-color: #ef2929; }
  #green .ui-slider-range { background: #8ae234; }
  #green .ui-slider-handle { border-color: #8ae234; }
  #blue .ui-slider-range { background: #729fcf; }
  #blue .ui-slider-handle { border-color: #729fcf; }



#fabric-controls {
    padding-left: 0; 

}
#fabric-controls li {
    display: inline; 

}

.cc-content {
    padding: 1em;
    text-align: center;
    position: relative; 

}

.margin-bot {
    margin-bottom: .5em; 

}

#red, #green, #blue {
    width: 50%; 

}


#overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 99999;
}
#loading {
    width: 50px;
    height: 57px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -28px 0 0 -25px;
}

.btn-group  .btn:not(.active):focus {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}





